body{

}

.App {
  text-align: center;
}

.mainArea
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

/* .Content
{
  display: inline-block;
  background-color: gray;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: auto;
} */

.Content p
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25vmin;
  padding-right: 25vmin;
  font-size: larger;
}

.mainImage
{
  border-radius: 45px;
  margin: 10px;
}

.mainImage:hover
{
  border-color: whitesmoke;
  cursor: pointer;
  border-width: 10px;
  border-style: solid;
  transition: .3s ease-in;
}

.navitem:hover
{
  background-color: #0a8fb8;
  transition: .1s ease-in;
}

.RRPage
{
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  margin: auto;
  width: 100%;
}

.FootOfPage
{
  background-color: black;
  color: white;
}

.AboutUs
{
  display: inline-flex;
  flex-direction: column;
  background-color: gainsboro;
  color: black;
  position: relative;
  margin: auto;
  width: 100%;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.SocialIcon
{
  padding: 100px;
}