body{
  background: #F0F2F0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000C40, #F0F2F0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

.mainArea
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* .Content
{
  display: inline-block;
  background-color: gray;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: auto;
} */

.Content p
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25vmin;
  padding-right: 25vmin;
  font-size: larger;
}

.mainImage
{
  border-radius: 50%;
  margin: 10px;
}

.mainImage:hover
{
  border-color: whitesmoke;
  cursor: pointer;
  border-width: 10px;
  border-style: solid;
  transition: .3s ease-in;
}

.navitem:hover
{
  background-color: #0a8fb8;
  transition: .1s ease-in;
}

.RRPage
{
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  margin: auto;
  width: 100%;
}

.FootOfPage
{
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  color: white;
  position: relative;
  margin: auto;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.AboutUs
{
  display: inline-flex;
  flex-direction: column;
  background-color: gainsboro;
  color: black;
  position: relative;
  margin: auto;
  width: 100%;
  align-items: center;
  margin: auto;
  padding: 10px;
}